body {
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  height: 5000px;
  background-color: #f0f0f0;
  padding-top: 128px;
}

.main-content h1 {
  margin-top: 0;
  margin-bottom: 256px; 
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  width: 100%;
  height: 128px;
  justify-content: space-between;
  align-items: center;
  background: #86CDEA;
}

.title{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
  margin-left: 32px;
}

.menu-group{
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 32px;
  list-style: none;
}

.menu-item{
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.sticky-target {
    position: sticky;
    top: 128px;
    
    background-color: #ACFE2C;  
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    font-size: 24px;
    margin-bottom: 256px; 
}

.fixed-menu {
    position: fixed; 
    width: 256px;
    height: 256px;
    bottom: 64px; 
    right: 64px;
    z-index: 1000;

    background-color: #FE9F7A;
    border-radius: 128px;
    font-size: 24px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}